<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			body {
				background-color: bisque;
			}

			.wrapper {
				height: 100vh;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.wrapper > a {
				text-decoration: none;
				color: brown;
				padding: 0.5em 1em;
				border: 1px solid brown;
				font-size: large;
				margin: 1em;
			}

			.wrapper > a:focus,
			.wrapper > a:hover {
				background-color: #eecca9;
			}

			p,
			p > a {
				font-size: 2rem;
				color: brown;
			}
		</style>
		<title>Hotel</title>
	</head>
	<body>
		<div class="wrapper">
			<p>Welcome to my hotel. <a href="/auth/logout">Logout</a></p>
		</div>
	</body>
</html>
